html, body {
  height: 100vh;
}


.hero-body{
  background-image: url(https://www.ecopetit.cat/wpic/mpic/6-63845_wallpaper-of-colors-dj-wolf-music-background-hd.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 50px;
}

.navbar{
  background:linear-gradient(rgba(250,0,0,0.5),transparent);
  background-color:orange;
  position: fixed;
  width: 100%;
}

.container{
  padding: 65px;
}

#home-button{
  font-weight: bold;
  text-transform: uppercase;
}

#charts-button{
  font-weight: bold;
  text-transform: uppercase;
}

.navbar-menu{
  @media (max-width: 1023px) {
      background:linear-gradient(rgba(250,0,0,0.5), transparent);
 background-color:orange;
  }

}

.navbar-item:hover{


background:linear-gradient(rgba(250,0,0,1), transparent);
 background-color:orange;
//   // font-weight: bold;
@media (max-width: 1020px) {
background:linear-gradient(rgba(250,0,0,1), orange);
// background-color:orange;
}
}

.input {
  width: 60vw;
}

.section{
  background-color: rgb(80, 80, 80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card{
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  align-content: center;
  border-radius: 30px;
}

.card-artist-name{
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 15px;
}

h5 {
  font-weight: bold;
}

audio{
  width: 220px;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px;
}
